* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rosybrown;
}

#page-title {
  color: blanchedalmond;
  font-size: 62px;
  text-align: center;
  margin-top: 50px;
}

section {
  margin: 25px 0;
}

.score-section {
  width: 300px;
  margin: 0 auto;
}

.score-section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

#score-title {
  font-size: 29px;
}

.ranks {
  border: 3px solid blanchedalmond;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
}

.player {
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  font-size: 24px;
  color: whitesmoke;
  margin: 3px;
  text-indent: 5px;
}

#form {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
}

button {
  border: none;
  background: blanchedalmond;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background: rgb(212, 165, 93);
}

.form-title {
  font-size: 24px;
}

.name-score {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid black;
  text-indent: 5px;
}

#submit {
  width: 60px;
  height: 30px;
  align-self: flex-end;
  margin-top: 12px;
}

@media screen and (min-width: 992px) {
  section {
    display: flex;
    margin-top: 50px;
  }

  #form {
    margin-top: 0;
  }
}
